{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} - Edit Comment
{% endblock %}

{% block body %}
	{% if form_errors(comment_form) %}
		<div class="alert alert-danger" role="alert">
			<strong>Errors:</strong>
			{{ form_errors(comment_form) }}
		</div>
	{% endif %}
	<div class="container">
		<h2>Edit Comment</h2>
		<div class="row">
			<div class="col-md-8">
				{{ form_start(comment_form) }}

				<div class="form-group mb-3">
					{{ form_label(comment_form.comment) }}
					{{ form_widget(comment_form.comment, {'attr' : {'class' : 'form-control'}}) }}
				</div>

				{{ form_row(comment_form.submit, {'attr' : {'class' : 'btn btn-success w-100'}, 'label' : 'Save Changes'}) }}

				{{ form_end(comment_form) }}
			</div>
		</div>
	</div>
{% endblock %}
