{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Edit Post
{% endblock %}

{% block body %}
	{% if form_errors(post_form) %}
		<div class="alert alert-danger" role="alert">
			<strong>Errors:</strong>
			{{ form_errors(post_form) }}
		</div>
	{% endif %}
	<div class="container d-flex flex-column">
		<div class="row">
			<div class="col-md-8">
				{{ form_start(post_form) }}

				<div class="form-group mb-3">
					{{ form_label(post_form.title) }}
					{{ form_widget(post_form.title, {'attr' : {'class' : 'form-control'}}) }}
				</div>

				<div class="form-group mb-3">
					{{ form_label(post_form.slug) }}
					{{ form_widget(post_form.slug, {'attr' : {'class' : 'form-control'}}) }}
				</div>

				<div class="form-group mb-3">
					{{ form_label(post_form.category) }}
					{{ form_widget(post_form.category, {'attr' : {'class' : 'form-select'}}) }}
				</div>
	
				<div class="form-group mb-3">
					{{ form_label(post_form.tags) }}
					{{ form_widget(post_form.tags, {'attr' : {'class' : 'form-control select2-multi'}}) }}
				</div>

				<div class="form-group mb-3">
					{{ form_label(post_form.body) }}
					{{ form_widget(post_form.body, {'attr' : {'class' : 'form-control'}}) }}
				</div>
			</div>

			<div class="col-md-4">
				<div class="card" style="background-color: lightgray;">
					<div class="card-body">
						<dl class="list-group">
							<dt>Created:</dt>
							<dd>{{ post.createdAt|ago }}</dd>
						</dl>

						<dl>
							<dt>Last Updated:</dt>
							<dd>{{ post.updatedAt|ago }}</dd>
						</dl>
						<hr>
						<div class="row">
							<div class="col-6">
								<a href="{{ path('post_show', {'slug' : post.slug}) }}" class="btn btn-danger w-100">Cancel</a>
							</div>
							<div class="col-6">
								{{ form_row(post_form.submit, {'attr' : {'class' : 'btn btn-success w-100'}, 'label' : 'Save Changes'}) }}
							</div>
						</div>
					</div>
				</div>
			</div>
			{{ form_end(post_form) }}
		</div>
	</div>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/select2.js') }}"></script>
{% endblock %}
