{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} - All Posts
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1>All Posts</h1>
			</div>

			<div class="col-md-2">
				<a href="{{ path('post_create') }}" class="btn btn-lg btn-block btn-primary btn-h1-spacing">Create New Post</a>
			</div>
			<hr>
		</div>

		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<th>#</th>
						<th>Title</th>
						<th>Body</th>
						<th>Created</th>
						<th></th>
					</thead>

					<tbody>
						{% for post in posts %}
							<tr>
								<th>{{ post.id }}</th>
								<td>{{ post.title }}</td>
								<td>{{ post.body|u.truncate(50) }}{% if post.body|length > 50 %}...{% endif %}</td>
								<td>{{ post.createdAt|ago }}</td>
								<td>
									<a href="{{ path('post_show', {'slug' : post.slug}) }}" class="btn btn-default">View</a>
									<a href="{{ path('post_edit', {'slug' : post.slug}) }}" class="btn btn-default">Edit</a>
								</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>

				<div class="text-center p-2">
					{% if previous >= 0 %}
						<a href="{{ path('post_index', { offset: previous }) }}">Previous</a>
					{% endif %}
					{% if next < posts|length %}
						<a href="{{ path('post_index', { offset: next }) }}">Next</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
