{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} - View Post
{% endblock %}

{% block body %}

	<div class="container">
		{% for message in app.flashes('sucess') %}
			<div class="alert alert-success" role="alert">
				<strong>Sucess:
				</strong>
				{{ message }}
			</div>
		{% endfor %}

		<div class="row position-relative">
			<div class="col-md-8">
				<h1>{{ post.title }}</h1>
				<p class="lead">{{ post.body }}</p>
				<hr>
				<p>Posted In: {{ post.category }}</p>
				<div class="tags">
					{% for tag in post.tags %}
						<span class="badge bg-secondary">{{ tag }}</span>
					{% endfor %}
				</div>
			</div>

			<div class="row">
				<div id="comment-form" class="col-md-8 col-md-offset-2 mt-5">
					{{ form_start(comment_form) }}

					<div class="row">
						<div class="col-md-6">
							<div class="form-group mb-3">
								{{ form_label(comment_form.name) }}
								{{ form_widget(comment_form.name, {'attr' : {'class' : 'form-control'}}) }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group mb-3">
								{{ form_label(comment_form.email) }}
								{{ form_widget(comment_form.email, {'attr' : {'class' : 'form-control'}}) }}
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group mb-3">
								{{ form_label(comment_form.comment) }}
								{{ form_widget(comment_form.comment, {'attr' : {'class' : 'form-control'}}) }}
							</div>
							{{ form_row(comment_form.submit, {'attr' : {'class' : 'btn btn-success btn-lg w-100 mt-3'}}) }}
						</div>
					</div>

					{{ form_end(comment_form) }}
				</div>
			</div>

			<div class="col-md-4 mt-3">
				<div class="card position-absolute top-0 end-0 w-25" style="background-color: lightgray;">
					<div class="card-body">
						<dl>
							<dt>Category:</dt>
							<dd>{{ post.category }}</dd>
						</dl>

						<dl>
							<dt>Created:</dt>
							<dd>{{ post.createdAt|ago }}</dd>
						</dl>

						<dl>
							<dt>Last Updated:</dt>
							<dd>{{ post.updatedAt|ago }}</dd>
						</dl>
						<hr>
						<div class="row">
							<div class="col-6">
								<a href="{{ path('post_edit', {'slug' : post.slug}) }}" class="btn btn-primary w-100">Edit</a>
							</div>
							<div class="col-6">
								<form action="{{ path('post_delete', {'slug' : post.slug}) }}" method="POST">
									<input type="submit" value="Delete" class="btn btn-danger w-100" onclick="return confirm('Are you sure you want to delete this post?')"/>
								</form>

							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a href="{{ path('post_index', {'offset' : 0}) }}" class="btn btn-light w-100 btn-h1-spacing">See all posts</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
