{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}- Edit Tag
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row d-flex flex-column justify-content-center align-items-center">
			<div class="col-md-6">
				{{ form_start(tag_form) }}
				<div class="form-group mb-3">
					{{ form_label(tag_form.name) }}
					{{ form_widget(tag_form.name, {'attr' : {'class' : 'form-control'}}) }}
				</div>

				{{ form_row(tag_form.submit, {'attr' : {'class' : 'btn btn-success btn-lg w-100'}}) }}
			</div>
			{{ form_end(tag_form) }}
		</div>
	</div>
{% endblock %}
